# for custom zsh files with sensitive info
secrets.zsh
shortcuts.zsh

# oh-my-zsh is cloned when .zshrc is sourced
.oh-my-zsh/

# hyprland
wallpaper_effects/
.current_wallpaper
wallust/
.initial_startup_done

# logs
*.log

lazy-lock.json
